<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            description="%productDescription"
            name="%productName"
            application="de.iteratec.logan.core.application">
         <property
               name="appName"
               value="%productName"/>
         <property
               name="windowImages"
               value="icons/48x48.png"/>
         <property
               name="aboutText"
               value="%aboutText ">
         </property>
         <property
               name="aboutImage"
               value="icons/Logan-about.jpg"/>
         <property
               name="cssTheme"
               value="de.iteratec.logan.theme.default">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introTitle"
               value="Welcome to Logan">
         </property>
         <property
               name="introBrandingImageText"
               value="%productName">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/48x48.png">
         </property>
      </product>
   </extension>

   <extension
         id="application"
         name="%applicationName"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="de.iteratec.logan.LoganApplication"/>
      </application>
   </extension>
   
   <extension
         id="perspective"
         name="%perspectiveName"
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/48x48.png"
            class="de.iteratec.logan.LoganPerspective"
            fixed="true"
            name="%perspectiveName"
            id="de.iteratec.logan.LoganPerspective"/>
   </extension>
   
   <extension  point="org.eclipse.ui.editors">
        <editor
              class="de.iteratec.logan.editor.CustomTextEditor"
              icon="icons/text.gif"
              id="de.iteratec.logan.editor.CustomTextEditor"
              contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
              name="%loganalyserEditor"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%openFile.description"
            id="de.iteratec.logan.commands.OpenFile"
            name="%openFile.name"/>
      <command
            description="%markOccurencies.description"
            id="de.iteratec.logan.commands.markOccurencies"
            name="%markOccurencies.name">
         <commandParameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               name="style"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.iteratec.logan.actions.RemoveOccurenciesHandler"
            description="%removeOccurencies.name"
            id="de.iteratec.logan.commands.removeOccurencies"
            name="%removeOccurencies.name">
         <commandParameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               name="style"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.iteratec.logan.commands.selectionExpression"
            name="%editorCreateExpression.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.iteratec.logan.commands.OpenFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
      <scheme
            id="de.iteratec.logan.commands.scheme"
            name="Loganalyser Scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="de.iteratec.logan.commands.markOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+1">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style1">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.markOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+2">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style2">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.markOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+3">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style3">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.markOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+4">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style4">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.markOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+5">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style5">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.removeOccurencies"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+M3+1">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style1">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.removeOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+M3+2">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style2">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.removeOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+M3+3">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style3">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.removeOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+M3+4">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style4">
         </parameter>
      </key>
      <key
            commandId="de.iteratec.logan.commands.removeOccurencies"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.iteratec.logan.commands.scheme"
            sequence="M1+M3+5">
         <parameter
               id="de.iteratec.logan.commands.OccurenciesParameter"
               value="style5">
         </parameter>
      </key>
   </extension>
   
   <!-- must come after the command definition above -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%fileActionSet.label"
            visible="true"
            id="de.iteratec.logan.fileActionSet">
         <action
               id="de.iteratec.logan.actions.OpenFile"
               icon="icons/open.gif"
               label="%openFile.label"
               tooltip="%openFile.tooltip"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               menubarPath="file/new.ext"
               class="de.iteratec.logan.actions.OpenFileAction"
               definitionId="de.iteratec.logan.commands.OpenFile"
               style="push"
               state="false"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.iteratec.logan.view.SearchView"
            icon="icons/box.png"
            id="de.iteratec.logan.view.SearchView"
            name="%searchView.name"
            restorable="true">
      </view>
      <view
            class="de.iteratec.logan.view.SearchResultView"
            icon="icons/page_white_magnify.png"
            id="de.iteratec.logan.view.SearchResultView"
            name="%searchResultsView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="de.iteratec.logan.view.SearchView"
               minimized="false"
               moveable="false"
               ratio="0.8"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="de.iteratec.logan.view.SearchResultView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification" id="styleannotations"  name="Style Annotations">
     <specification 
         annotationType="de.iteratec.logan.markers.style1"
         colorPreferenceKey="de.iteratec.logan.annotations.style1.color"
         colorPreferenceValue="255,99,71"
         contributesToHeader="false"
         highlightPreferenceKey="de.iteratec.logan.annotations.style1.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="%style1.name"
         overviewRulerPreferenceKey="de.iteratec.logan.annotations.style1.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="de.iteratec.logan.annotations.style1.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="de.iteratec.logan.annotations.style1.ruler"
         verticalRulerPreferenceValue="true">
      </specification>
      <specification
         annotationType="de.iteratec.logan.markers.style2"
         colorPreferenceKey="de.iteratec.logan.annotations.style2.color"
         colorPreferenceValue="132,112,255"
         contributesToHeader="false"
         highlightPreferenceKey="de.iteratec.logan.annotations.style2.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="%style2.name"
         overviewRulerPreferenceKey="de.iteratec.logan.annotations.style2.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="de.iteratec.logan.annotations.style2.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="de.iteratec.logan.annotations.style2.ruler"
         verticalRulerPreferenceValue="true">
      </specification>
      <specification
         annotationType="de.iteratec.logan.markers.style3"
         colorPreferenceKey="de.iteratec.logan.annotations.style3.color"
         colorPreferenceValue="0,100,0"
         contributesToHeader="false"
         highlightPreferenceKey="de.iteratec.logan.annotations.style3.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="%style3.name"
         overviewRulerPreferenceKey="de.iteratec.logan.annotations.style3.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="de.iteratec.logan.annotations.style3.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="de.iteratec.logan.annotations.style3.ruler"
         verticalRulerPreferenceValue="true">
      </specification>
      <specification
         annotationType="de.iteratec.logan.markers.style4"
         colorPreferenceKey="de.iteratec.logan.annotations.style4.color"
         colorPreferenceValue="255,140,0"
         contributesToHeader="false"
         highlightPreferenceKey="de.iteratec.logan.annotations.style4.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="%style4.name"
         overviewRulerPreferenceKey="de.iteratec.logan.annotations.style4.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="de.iteratec.logan.annotations.style4.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="de.iteratec.logan.annotations.style4.ruler"
         verticalRulerPreferenceValue="true">
      </specification>
      <specification
         annotationType="de.iteratec.logan.markers.style5"
         colorPreferenceKey="de.iteratec.logan.annotations.style5.color"
         colorPreferenceValue="	139,139,131"
         contributesToHeader="false"
         highlightPreferenceKey="de.iteratec.logan.annotations.style5.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="%style5.name"
         overviewRulerPreferenceKey="de.iteratec.logan.annotations.style5.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="de.iteratec.logan.annotations.style5.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="de.iteratec.logan.annotations.style5.ruler"
         verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
   		<type name="de.iteratec.logan.markers.style1"/>
   		<type name="de.iteratec.logan.markers.style2"/>
   		<type name="de.iteratec.logan.markers.style3"/>
   		<type name="de.iteratec.logan.markers.style4"/>
   		<type name="de.iteratec.logan.markers.style5"/>
   </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?after=additions">
       <command
             commandId="de.iteratec.logan.commands.selectionExpression"
             label="%editorCreateExpression.label"
             style="push"
             tooltip="%editorCreateExpression.tooltip">
       </command>
        <menu
              label="%markOccurencies.name"
              tooltip="%markOccurencies.tooltip">
           <command
                 commandId="de.iteratec.logan.commands.markOccurencies"
                 label="%style1.label"
                 style="push"
                 tooltip="%style1.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style1">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.markOccurencies"
                 label="%style2.label"
                 style="push"
                 tooltip="%style2.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style2">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.markOccurencies"
                 label="%style3.label"
                 style="push"
                 tooltip="%style3.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style3">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.markOccurencies"
                 label="%style4.label"
                 style="push"
                 tooltip="%style4.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style4">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.markOccurencies"
                 label="%style5.label"
                 style="push"
                 tooltip="%style5.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style5">
              </parameter>
           </command>
        </menu>
        <menu
              label="%removeOccurencies.name"
              tooltip="%removeOccurencies.tooltip">
           <command
                 commandId="de.iteratec.logan.commands.removeOccurencies"
                 label="%style1.label"
                 style="push"
                 tooltip="%style1.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style1">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.removeOccurencies"
                 label="%style2.label"
                 style="push"
                 tooltip="%style2.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style2">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.removeOccurencies"
                 label="%style3.label"
                 style="push"
                 tooltip="%style3.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style3">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.removeOccurencies"
                 label="%style4.label"
                 style="push"
                 tooltip="%style4.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style4">
              </parameter>
           </command>
           <command
                 commandId="de.iteratec.logan.commands.removeOccurencies"
                 label="%style5.label"
                 style="push"
                 tooltip="%style5.tooltip">
              <parameter
                    name="de.iteratec.logan.commands.OccurenciesParameter"
                    value="style5">
              </parameter>
           </command>
        </menu>
    </menuContribution>
</extension>
  <extension
        point="org.eclipse.ui.activities">
     <activity
           id="de.iteratec.logan.actitivities.unwantedActionSet1"
           name="Unwanted Search ActionSet">
        <enabledWhen>
           <with
                 variable="activePartId">
              <equals
                    value="de.iteratec.logan.actitivities.unwantedActionSet">
              </equals>
           </with>
        </enabledWhen>
     </activity>
     <activityPatternBinding
           activityId="de.iteratec.logan.actitivities.unwantedActionSet1"
           pattern="org.eclipse.search.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="de.iteratec.logan.actitivities.unwantedActionSet1"
           pattern="org.eclipse.team.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="de.iteratec.logan.actitivities.unwantedActionSet1"
           pattern="org.eclipse.compare.*">
     </activityPatternBinding>
  </extension>
  <extension
        point="org.eclipse.e4.ui.css.swt.theme">
     <theme
           basestylesheeturi="css/default.css"
           id="de.iteratec.logan.theme.default"
           label="%theme.default.name">
     </theme>
     <theme
           basestylesheeturi="css/win7_classic.css"
           id="de.iteratec.logan.theme.win7_classic"
           label="%theme.win7_classic.name">
     </theme>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="de.iteratec.logan.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition id="isSelectionAvailable">
        <with variable="selection">
        	<instanceof
                   value="org.eclipse.jface.text.ITextSelection">
             </instanceof>
             <test
                   forcePluginActivation="true"
                   property="de.iteratec.logan.core.propertyTester.textSelection.selected"
                   value="true">
             </test>
       </with>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="de.iteratec.logan.actions.CreateExpressionFromSelectionHandler"
           commandId="de.iteratec.logan.commands.selectionExpression">
        <enabledWhen>
           <reference
                 definitionId="isSelectionAvailable">
           </reference>
        </enabledWhen>
     </handler>
     <handler
           class="de.iteratec.logan.actions.MarkOccurenciesHandler"
           commandId="de.iteratec.logan.commands.markOccurencies">
           <enabledWhen>
           <reference
                 definitionId="isSelectionAvailable">
           </reference>
        </enabledWhen>
     </handler>
     <handler
           class="de.iteratec.logan.actions.FindReplaceHandler"
           commandId="org.eclipse.ui.edit.findReplace">
        <activeWhen>
           <with
                 variable="activePartId">
              <equals
                    value="de.iteratec.logan.view.SearchResultView">
              </equals>
           </with>
        </activeWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="de.iteratec.logan.view.TextSelectionTester"
           id="de.iteratec.logan.core.propertyTester.textSelection"
           namespace="de.iteratec.logan.core.propertyTester.textSelection"
           properties="selected"
           type="org.eclipse.jface.text.ITextSelection">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="de.iteratec.logan.preferences.LoganalyserPreferencePage"
           id="de.iteratec.logan.core.preferences"
           name="Logan">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="de.iteratec.logan.preferences.PreferenceInitializer">
     </initializer>
  </extension>
   
</plugin>
